# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/micropki/bin/

# Каталоги зависимостей
vendor/
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Файлы, сгенерированные ОС
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# PKI директории (игнорируем сгенерированные сертификаты и ключи)
/pki/
/micropki/pki/
*.pem
*.crt
*.key
*.csr
*.pass
secrets/
/micropki/secrets/

# Логи
*.log
/micropki/*.log

# Файлы Go workspace
go.work
go.work.sum

# Тестовый исполняемый файл, собранный с помощью `go test -c`
*.test

# Результат go coverage
*.out
*.cov
coverage.html
/micropki/coverage.html

# Временные файлы
tmp/
/micropki/tmp/
